.App {
  text-align: center;
  height: 100vh;
}
.App ::selection {
  background-color: rgba(255, 228, 196, 0.559);
  padding: 10px;
}

.strikethrough:checked + p {
  text-decoration: line-through;
  color: gray;
}
.todoSDiv {
  background-color: rgba(0, 0, 0, 0.54);
 
}

@media only screen and (min-width: 200px) and (max-width: 850px) {
  .todoBtns {
    position: static;
    /* background-color: teal; */
    font-size: 20px;
  }
  .edit {
    background-color: rgb(131, 208, 60) !important;
    border-radius: 100%;
  }
  .edit:hover {
    background-color: rgba(255, 255, 0, 0.779) !important;
    border-radius: 100%;
    color: white;
  }
  .remove {
    background-color: rgb(57, 175, 175) !important;
    border-radius: 100%;
  }
  .remove:hover {
    background-color: rgba(255, 0, 0, 0.747) !important;
    border-radius: 100%;
    color: white;
  }
}
